* {
    list-style: none;
    text-decoration: none;
}

li {
    margin: auto;
    font-size: 18px;
}

.profileLi {
    color: red;
}


/* .account-class:hover {
    border-bottom: 4px solid black;

} */